form(method='post')
  label
    | Name
    input(name='username')
  label
    | Password
    input(name='psw' type='password')
  input(type='hidden' name='action' value='login')
  input(type='submit')
  //- button(type='submit' value='Submit (POST)' formmethod='post' onclick="let dl=document.location;history.replaceState(null,'',(new window.URL(dl.pathname,dl.origin)))") submit with post
