- pages ??= [];
nav 
  ul
    each pg,index in pages 
      li
        if pg.href == page.href
          span.active= pg.title
        else 
          a(href=pg.href)= pg.title
  if user
    include logout.pug
  else
    include login.pug
        