extends _includes/layout.pug
block append content 
  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem molestiae nesciunt, deserunt sunt iste, suscipit, laudantium natus ut quis quos corrupti? Dolore deleniti quaerat iusto mollitia odio voluptatum praesentium?
