extends _includes/layout.pug
block append content 
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A inventore eos numquam quisquam optio, quia veniam ab ad excepturi alias dicta voluptatibus quas tempore, nulla ducimus eum iure suscipit. Corporis?
