extends _includes/layout.pug
block append content
  - posts ??= []
  if user
    include  _includes/addpost
  each post in posts
    article
      aside
        div
          sup= post.realname 
          strong  #{post.title}           
        samp= post.body
        br    
        small= post.time
      p         
        
  