extends _includes/layout.pug
block append content 
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eius quia animi vel accusantium laborum quas quo, accusamus similique quibusdam voluptatibus iure necessitatibus esse ut. Earum, adipisci. Labore, est? Ratione!
