extends _includes/layout.pug
block append content
  article Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, neque iusto deserunt in dolore ad ducimus quisquam, corrupti ab quae labore nobis provident quia voluptatum tempore nemo culpa dolores id?
  article: aside Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta quos eaque est cumque sunt dicta placeat rerum praesentium fugiat possimus ratione velit provident doloremque nulla earum, quam itaque porro aliquid? 
  blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat blanditiis veniam placeat laborum recusandae saepe, porro debitis dolorem aliquam officiis voluptatum vero eos provident illum ratione doloremque iste quisquam libero.
  blockquote: aside Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nisi non, magni corrupti eligendi aut tempora ipsa ab mollitia molestiae incidunt quasi excepturi nemo officia et. Tempora repellat temporibus consequuntur!
  figure
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae consequuntur aspernatur mollitia accusantium laudantium, eaque earum optio architecto in inventore aperiam quod libero soluta ex minus, non, beatae veniam consequatur.
    figcaption  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo nobis placeat ipsam minima quasi omnis provident ipsa praesentium reiciendis adipisci, sit possimus soluta repellat temporibus dolorem earum, quis accusantium unde.
  section Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor ullam nisi id quia quod reiciendis amet, quasi harum cupiditate ex qui magni assumenda aliquam ea unde rerum, voluptatem fugiat beatae!
  section: aside Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos corrupti voluptatum sint ad non laborum perspiciatis odit accusantium, vel sed consectetur placeat, labore, quisquam blanditiis odio reprehenderit tempora sunt aliquam. 
